<div class="flex w-full justify-content-between align-items-center px-3" style="height: 48px; border-bottom: 1px solid lightgray;">
    <div class="flex gap-1 align-items-center" style="width: 300px;">
        <div style="width: 32px; height: 32px;" class="flex cursor-pointer align-items-center justify-content-center border-round-sm hover:bg-gray-200">
            <i class="fa-solid fa-arrow-right-arrow-left" (click)="toggleSideNav()"></i>
        </div>
        <div class="flex align-items-center gap-2 cursor-pointer px-1 hover:bg-gray-200 border-round-md" style="height: 32px;">
            <i class="fa-solid text-blue-600 fa-square-arrow-up-right fa-xl"></i>
            Jira
        </div>
    </div>
    <div class="flex align-items-center gap-2 " style="width: 800px;">
        <input type="text" [style]="{'height':'32px'}" pInputText [(ngModel)]="value" class="w-full" placeholder="Search"/>
        <p-button label="Create" icon="fa-solid fa-plus"/>
    </div>
    <div class="flex gap-1 align-items-center justify-content-end text-gray-600" style="width: 300px;">
        <div style="width: 32px; height: 32px;" class="flex cursor-pointer align-items-center justify-content-center border-round-sm hover:bg-gray-200">
            <i class="fa-regular fa-bell fa-md"></i>
        </div>
        <div style="width: 32px; height: 32px;" class="flex cursor-pointer align-items-center justify-content-center border-round-sm hover:bg-gray-200">
            <i class="fa-regular fa-circle-question fa-md"></i>
        </div>
        <div style="width: 32px; height: 32px;" class="flex cursor-pointer align-items-center justify-content-center border-round-sm hover:bg-gray-200">
            <i class="fa-solid fa-gear fa-md"></i>
        </div>
        <div class="border-circle bg-blue-500 flex justify-content-center align-items-center" style="width: 24px; height: 24px">
            <p class="text-white" style="font-size: 11px;">KO</p>
        </div>
    </div>
</div>
