<div class="flex flex-column h-screen px-4" style="width: 250px; border-right: 1px solid grey;">
    <div class="flex align-items-center gap-3">
        <div style="width: 20px;">
            <i class="fa-regular fa-circle-user fa-md"></i>
        </div>
        <p>For you</p>
    </div>
    <div class="flex justify-content-between align-items-center">
        <div class="flex align-items-center gap-3">
            <div style="width: 20px;">
                <i class="fa-regular fa-clock fa-md"></i>
            </div>
            <p>Recent</p>
        </div>
        <div style="width: 20px;">
            <i class="fa-solid fa-chevron-right fa-sm"></i>
        </div>
    </div>
    <div class="flex justify-content-between align-items-center">
        <div class="flex align-items-center gap-3">
            <div style="width: 20px;">
                <i class="fa-regular fa-star fa-md"></i>
            </div>
            <p>Starred</p>
        </div>
        <div style="width: 20px;">
            <i class="fa-solid fa-chevron-right fa-sm"></i>
        </div>
    </div>
    <div class="flex align-items-center gap-3">
        <div style="width: 20px;">
            <i class="fa-solid fa-grip fa-md"></i>
        </div>
        <p>Apps</p>
    </div>
    <div class="flex align-items-center gap-3">
        <div style="width: 20px;">
            <i class="fa-solid fa-bars-progress fa-md"></i>
        </div>
        <p>Plans</p>
    </div>
    <div class="flex align-items-center gap-3">
        <div style="width: 20px;">
            <i class="fa-solid fa-rocket fa-md"></i>
        </div>
        <p>Projects</p>
    </div>
    <div class="flex align-items-center gap-3">
        <div style="width: 20px;">
            <i class="fa-solid fa-users fa-md"></i>
        </div>
        <p>Teams</p>
    </div>
    <div class="flex align-items-center gap-3">
        <div style="width: 20px;">
            <i class="fa-solid fa-ellipsis fa-md"></i>
        </div>
        <p>More</p>
    </div>
</div>
