<div class="flex flex-column gap-1 py-4 h-full px-2 text-gray-600" style="width: 240px; border-right: 1px solid lightgray;">
    <div class="flex align-items-center gap-3 cursor-pointer hover:bg-gray-200 border-round-sm px-2" style="height: 32px;">
        <div style="width: 20px;">
            <i class="fa-regular fa-circle-user fa-md"></i>
        </div>
        <p>For you</p>
    </div>
    <div class="flex justify-content-between align-items-center hover:bg-gray-200 border-round-sm px-2 cursor-pointer">
        <div class="flex align-items-center gap-3" style="height: 32px;">
            <div style="width: 20px;">
                <i class="fa-regular fa-clock fa-md"></i>
            </div>
            <p>Recent</p>
        </div>
        <div style="width: 20px;">
            <i class="fa-solid fa-chevron-right fa-sm"></i>
        </div>
    </div>
    <div class="flex justify-content-between align-items-center hover:bg-gray-200 border-round-sm cursor-pointer px-2" style="height: 32px;">
        <div class="flex align-items-center gap-3">
            <div style="width: 20px;">
                <i class="fa-regular fa-star fa-md"></i>
            </div>
            <p>Starred</p>
        </div>
        <div style="width: 20px;">
            <i class="fa-solid fa-chevron-right fa-sm"></i>
        </div>
    </div>
    <div class="flex align-items-center gap-3 hover:bg-gray-200 border-round-sm  cursor-pointer px-2" style="height: 32px;">
        <div style="width: 20px;">
            <i class="fa-solid fa-grip fa-md"></i>
        </div>
        <p>Apps</p>
    </div>
    <div class="flex align-items-center gap-3 cursor-pointer hover:bg-gray-200 border-round-sm px-2" style="height: 32px;">
        <div style="width: 20px;">
            <i class="fa-solid fa-bars-progress fa-md"></i>
        </div>
        <p>Plans</p>
    </div>
    <div class="flex align-items-center gap-3 cursor-pointer hover:bg-gray-200 border-round-sm px-2" style="height: 32px;">
        <div style="width: 20px;">
            <i class="fa-solid fa-rocket fa-md"></i>
        </div>
        <p>Projects</p>
    </div>
    <div class="flex align-items-center gap-3 cursor-pointer hover:bg-gray-200 border-round-sm px-2" style="height: 32px;">
        <div style="width: 20px;">
            <i class="fa-solid fa-users fa-md"></i>
        </div>
        <p>Teams</p>
    </div>
    <div class="flex align-items-center gap-3 cursor-pointer hover:bg-gray-200 border-round-sm px-2" style="height: 32px;">
        <div style="width: 20px;">
            <i class="fa-solid fa-ellipsis fa-md"></i>
        </div>
        <p>More</p>
    </div>
</div>
