<div class="flex flex-column h-full w-full">
    <app-project-header [project]="project()" />
    <div class="flex flex-column w-full h-full p-3">
        <div class="flex justify-content-between">
            <div class="flex align-items-center gap-2">
                <div class="flex align-items-center" style="width: 184px;">
                    <input type="text" pInputText [(ngModel)]="value" class="w-full" style="width: 184px;" placeholder="Search board"/>
                </div>
                <div class="flex">
                    @for(user of userList(); track $index) {
                        <app-avatar [user]="user" [displayName]="true" />
                    }
                </div>
            </div>
            <div class="flex gap-2">
                <div style="height: 32px" class="flex px-2 align-items-center justify-content-center cursor-pointer hover:bg-gray-200 align-items-center gap-1 p-1 border-1 border-gray-400 border-round-sm">
                    <p class="m-0 text-sm">Group</p>
                    <i class="fa-solid fa-chevron-down fa-sm"></i>
                </div>
                <div style="height: 32px; width: 32px;" pTooltip="Board insights" tooltipPosition="bottom" class="flex align-items-center justify-content-center cursor-pointer hover:bg-gray-200 align-items-center p-1 border-1 border-gray-400 border-round-sm">
                    <i class="fa-solid fa-chart-line fa-sm"></i>
                </div>
                <div style="height: 32px; width: 32px;" pTooltip="View settings" tooltipPosition="bottom" class="flex align-items-center justify-content-center cursor-pointer hover:bg-gray-200 align-items-center p-1 border-1 border-gray-400 border-round-sm">
                    <i class="fa-solid fa-sliders fa-sm"></i>
                </div>
                <div style="height: 32px; width: 32px;" pTooltip="More actions" tooltipPosition="bottom" class="flex align-items-center justify-content-center cursor-pointer hover:bg-gray-200 align-items-center p-1 border-1 border-gray-400 border-round-sm">
                    <i class="fa-solid fa-ellipsis fa-sm"></i>
                </div>
            </div>
        </div>
        <div class="flex h-full pt-3">
            <div class="flex gap-2 h-full">
            @for (column of project().columns; track column.title; let idx = $index) {
                <app-column [column]="column" [idx]="idx" [projectId]="project().projectId" />
            }
            <div>
                @if(!creatingColumn()) {
                    <div class="flex cursor-pointer hover:bg-gray-200 h-2rem w-2rem justify-content-center align-items-center p-1 border-1 border-gray-400 border-round-sm" pTooltip="Create column" (click)="toggleColumnCreation()" tooltipPosition="left">
                        <i class="fa-solid fa-plus fa-sm"></i>
                    </div>
                } @else {
                    <div class="flex flex-column align-content-end gap-1" (blur)="toggleColumnCreation(false)">
                        <div class="flex align-items-center" style="width: 184px;">
                            <input type="text" pInputText [(ngModel)]="newColumnTitle" (keydown.enter)="addNewColumn()" class="w-full" style="width: 184px;" placeholder="Search board"/>
                        </div>
                        <div class="flex gap-1 justify-content-end">
                            <div style="height: 32px; width: 32px;" (click)="addNewColumn(); toggleColumnCreation(false)" class="flex shadow-1 align-items-center justify-content-center cursor-pointer hover:bg-gray-200 align-items-center p-1 border-1 border-gray-400 border-round-sm">
                                <i class="fa-solid fa-check fa-sm"></i>
                            </div>
                            <div style="height: 32px; width: 32px;" (click)="toggleColumnCreation(false)" class="flex shadow-1 align-items-center justify-content-center cursor-pointer hover:bg-gray-200 align-items-center p-1 border-1 border-gray-400 border-round-sm">
                                <i class="fa-solid fa-x fa-sm"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
